# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Turbo
.turbo

# Nitro
.nitro

# Vercel
.vercel

# Trigger
.trigger

# Build Outputs
.next/
out/
build
dist
.vinxi
.output

# Typescript
*.tsbuildinfo

# Tanstack
.tanstack

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.pem

# react-email
.react-email
packages/email/public
!packages/email/public/.gitkeep
!packages/email/.react-email/.gitkeep

# Others
app.config.timestamp_*

.pnpm-lock.yaml