.minimal-tiptap-editor .ProseMirror ol {
   @apply list-decimal;
}

.minimal-tiptap-editor .ProseMirror ol ol {
   list-style: lower-alpha;
}

.minimal-tiptap-editor .ProseMirror ol ol ol {
   list-style: lower-roman;
}

.minimal-tiptap-editor .ProseMirror ul {
   list-style: disc;
}

.minimal-tiptap-editor .ProseMirror ul ul {
   list-style: circle;
}

.minimal-tiptap-editor .ProseMirror ul ul ul {
   list-style: square;
}

/* Task lists */
.minimal-tiptap-editor .ProseMirror ul[data-type="taskList"] {
   padding-left: 0.25em;
   @apply mb-2.5;
}

.minimal-tiptap-editor .ProseMirror ul[data-type="taskList"] li {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
}

.minimal-tiptap-editor .ProseMirror ul[data-type="taskList"] li:not(:has(> p:first-child)) {
   list-style-type: none;
}

.minimal-tiptap-editor .ProseMirror ul[data-type="taskList"] li[data-checked="true"] > div > p {
   opacity: 0.5;
   text-decoration: line-through;
}

.minimal-tiptap-editor .ProseMirror ul[data-type="taskList"] li[data-checked="true"] > div > p span {
   text-decoration: line-through;
}

.minimal-tiptap-editor .ProseMirror ul[data-type="taskList"] li label {
   position: relative;
   padding-top: 4px;
   padding-right: 8px;
}

.minimal-tiptap-editor .ProseMirror ul[data-type="taskList"] li label input[type="checkbox"] {
   position: absolute;
   opacity: 0;
   width: 0;
   height: 0;
}

.minimal-tiptap-editor .ProseMirror ul[data-type="taskList"] li label span {
   display: block;
   width: 1em;
   height: 1em;
   border: 1px solid var(--border);
   border-radius: 0.25rem;
   position: relative;
   cursor: pointer;
   background-color: var(--muted);
   transition: background-color 80ms ease-out, border-color 80ms ease-out;
}

.minimal-tiptap-editor .ProseMirror ul[data-type="taskList"] li label span::before {
   content: "";
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) scale(0);
   transform-origin: center;
   width: 0.75em;
   height: 0.75em;
   background-color: var(--color-default);
   opacity: 0;
   transition: transform 0.12s ease-in-out;
   -webkit-mask: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22currentColor%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M21.4142%204.58579C22.1953%205.36683%2022.1953%206.63317%2021.4142%207.41421L10.4142%2018.4142C9.63317%2019.1953%208.36684%2019.1953%207.58579%2018.4142L2.58579%2013.4142C1.80474%2012.6332%201.80474%2011.3668%202.58579%2010.5858C3.36683%209.80474%204.63317%209.80474%205.41421%2010.5858L9%2014.1716L18.5858%204.58579C19.3668%203.80474%2020.6332%203.80474%2021.4142%204.58579Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E")
      center / contain no-repeat;
   mask: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22currentColor%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M21.4142%204.58579C22.1953%205.36683%2022.1953%206.63317%2021.4142%207.41421L10.4142%2018.4142C9.63317%2019.1953%208.36684%2019.1953%207.58579%2018.4142L2.58579%2013.4142C1.80474%2012.6332%201.80474%2011.3668%202.58579%2010.5858C3.36683%209.80474%204.63317%209.80474%205.41421%2010.5858L9%2014.1716L18.5858%204.58579C19.3668%203.80474%2020.6332%203.80474%2021.4142%204.58579Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E")
      center / contain no-repeat;
}

.minimal-tiptap-editor .ProseMirror ul[data-type="taskList"] li label input[type="checkbox"]:checked + span {
   background: var(--color-primary);
   border-color: var(--color-background);
}

.minimal-tiptap-editor .ProseMirror ul[data-type="taskList"] li label input[type="checkbox"]:checked + span::before {
   opacity: 1;
   transform: translate(-50%, -50%) scale(1);
}

.minimal-tiptap-editor .ProseMirror ul[data-type="taskList"] li div {
   flex: 1 1 0%;
   min-width: 0;
}
