/* Table-specific styling */
.minimal-tiptap-editor .ProseMirror table {
   border-collapse: collapse;
   margin: 0;
   overflow: hidden;
   table-layout: fixed;
   width: 100%;
}

.minimal-tiptap-editor .ProseMirror table td,
.minimal-tiptap-editor .ProseMirror table th {
   border: 1px solid var(--mt-accent-gray);
   box-sizing: border-box;
   min-width: 1em;
   padding: 6px 8px;
   position: relative;
   vertical-align: top;
}

.minimal-tiptap-editor .ProseMirror table td:first-of-type:not(a),
.minimal-tiptap-editor .ProseMirror table th:first-of-type:not(a) {
   margin-top: 0;
}

.minimal-tiptap-editor .ProseMirror table td p,
.minimal-tiptap-editor .ProseMirror table th p {
   margin: 0 !important;
}

.minimal-tiptap-editor .ProseMirror table td p + p,
.minimal-tiptap-editor .ProseMirror table th p + p {
   margin-top: 0.75rem;
}

.minimal-tiptap-editor .ProseMirror table th {
   background-color: var(--mt-bg-secondary);
   font-weight: bold;
   text-align: left;
}

.minimal-tiptap-editor .ProseMirror table .selectedCell:after {
   background-color: rgba(59, 130, 246, 0.25);
   content: "";
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   pointer-events: none;
   position: absolute;
   z-index: 2;
}

.minimal-tiptap-editor .ProseMirror table .column-resize-handle {
   background-color: var(--color-primary);
   bottom: -2px;
   pointer-events: none;
   position: absolute;
   right: -2px;
   top: 0;
   width: 4px;
}

.minimal-tiptap-editor .ProseMirror .tableWrapper {
   margin: 1.5rem 0;
   overflow-x: auto;
}

.minimal-tiptap-editor .ProseMirror.resize-cursor {
   cursor: ew-resize;
   cursor: col-resize;
}
